.modal .cards{
  text-align: center;
}

.modal img{
  max-width: 120px;
  margin: 15px;
}

.game .bottom-bar{
  position: fixed;
  height: 50px;
  width: 100vw;
  bottom: 0;
  left: 0;
  border-top: 1px solid #B1B1B1;
  background: #FFFFFF;
  text-align: center;
  color: var(--primary);
  cursor: pointer;
}

.game .bottom-bar:hover{
  background: var(--primary);
  color: #FFFFFF;
}

.game .bottom-bar h4{
  color: inherit;
  margin: 14px;
}

.game .community_cards{
  max-width: 768px;
  text-align: center;
  margin: 0 auto;
}

.game .community_cards img{
  max-width: 80px;
  margin: 5px;
}

.game .community_cards span{
  display: block;
  color: #B3B3B3;
  font-size: 12px;
}

.game h2.turn{
  text-align: center;
  color: #B1B1B1;
  padding: 15px;
}

.bet-input{
  padding-top: 30px;
  max-width: 768px;
  margin: 0 auto;
  text-align: center;
}

.bet-input input{
  display: block;
  height: 45px;
  width: 375px;
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  text-transform: uppercase;
  border: 1px solid #B1B1B1;
}

.bet-input button{
  border: none;
  background: var(--primary);
  color: #FFFFFF;
  padding: 10px;
  width: 180px;
  font-size: 14px;
  margin: 7px;
  cursor: pointer;
  border: 1px solid var(--primary);
}

.bet-input button.danger{
  background: var(--danger);
  border: 1px solid var(--danger);
}

.bet-input button:hover{
  color: var(--primary);
  background: var(--background);
}

.bet-input button.danger:hover{
  color: var(--danger);
  background: var(--background);
}

.gameInfo{
  text-align: center;
}

.players_list{
  max-width: 768px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 60px;
}

.players_list .player_item{
  display: inline-block;
  width: 30%;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #B1B1B1;
  margin: 10px 1.6%;
}

.players_list .player_item.you{
  border-color: #62d158;
}

.players_list .player_item h4{
  border-bottom: 1px solid #B1B1B1;
  padding-bottom: 15px;
}

.players_list .player_item h6.waiting{
  color: #B1B1B1;
}

.players_list .player_item h6.ready{
  color: #62d158;
}

.players_list .player_item h6.fold{
  color: var(--danger);
}

@media screen and (max-width: 768px){

  .modal{
    overflow: scroll;
  }

  .modal img{
    max-height: 80vh;
    max-width: 30vw;
    margin: 5vw;
  }

  .game .community_cards{
    max-width: 90vw;
    margin: 0 5vw;
  }

  .game .community_cards img{
    display: block;
    max-width: 50vw;
    margin: 20vw;
  }

  .bet-input{
    max-width: 90vw;
    margin: 0 5vw;
  }

  .bet-input input{
    display: block;
    width: 100%;
  }

  .bet-input button{
    display: block;
    width: 100%;
    margin: 7px auto;
  }

  .players_list{
    max-width: 90vw;
    margin: 0 5vw;
  }

  .players_list .player_item{
    width: 100%;
    display: block;
  }


}
